<p-sidebar [(visible)]="sidebarVisible" styleClass="w-1/5" [modal]="false">
  <ng-template pTemplate="header">Header Content</ng-template>
  <ng-template pTemplate="content">
    <ul class="menu">
      <li *ngFor="let item of menuItems">
        <a
          [routerLink]="item.route"
          routerLinkActive="active-link"
          class="menu-link"
        >
          {{ item.label }}
        </a>
      </li>
    </ul>
  </ng-template>
  <ng-template pTemplate="footer">Footer Content</ng-template>
</p-sidebar>

<p-button
  (click)="sidebarVisible = true"
  icon="pi pi-arrow-right"
  label="Show Sidebar"
></p-button>
